body
{
    margin: 0px;
    text-align: center;
    color: white;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1
{

}

h4
{

}

/* ////////////// */

#header
{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/header-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #666666
}

#header > h1
{
    margin: 0px 0px 40px 0px;
    font-size: 50px;
}

/* Parent counters' container */
#counter
{
    width: 500px;
    margin: 0px 0px 40px 0px;
    display: flex;
    justify-content: space-around;
}

/* Counter container */
#counters > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Counter time container */
.counter-time
{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020710;
}

/* Counter time text */
.counter-time > h4
{
    margin: 0px;
    font-size: 40px;
}

/* Counter description  */
.counter-tag
{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #de0d86;
}

/* Counter description  */
.counter-tag > p
{
    margin: 0px;
}

#buttons
{
    display: flex;
    justify-content: space-around;
    width: 300px;
}

#buttons > button
{
    height: 40px;
    width: 120px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
}

#buttons > button:nth-child(1)
{
    background-color: #202224;
}

#buttons > button:nth-child(2)
{
    background-color: #00c8b0;
}

/* ///////// */

#information
{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000f1e;
}

.title
{
    display: flex;
    justify-content: space-around;
}

.section-description
{
    width: 500px;
    margin: 20px 0px 60px 0px;
}

#info-container
{
    width: 600px;
}

#day-selector
{
    display: flex;
    justify-content: center;
}

#day-selector > button
{
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    background-color: #101c2c;
}

#day-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#day-info > p:nth-child(1)
{
    color: #de0d86;
}

#day-info > p:nth-child(2)
{
    width: 500px;
}

.day-point
{
    display: flex;
    align-items: center;
}

.day-point > div:nth-child(1)
{
    min-width: 160px;
    height: 40px;
    margin: 0px 20px 0px 0px;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-point > div:nth-child(1) > p
{
    color: #de0d86;
}

.day-point > div:nth-child(2)
{
    text-align: left;
}

/* //////// */

#tickets
{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101c2c;
}

#ticket-options
{
    width: 800px;
    display: flex;
    justify-content: space-around;
}

#ticket-options > div
{

}

#ticket-options > div > h1
{
    margin: 0px;
}

#ticket-options > div > p
{
    margin: 5px 0px 10px 0px;
}

#ticket-options > div > h2
{
    margin: 40px 0px;
    color: #de0d86;
}

#ticket-options > div > button
{
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 14px;
    background-color: #00c8b0;
}

/* ///////////// */

#feedback
{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000f1e;
}

#feedback > h1
{
    margin: 0px 0px 20px 0px;
}

#feedback > p
{
    margin: 40px 0px;
}

#feedback-box
{
    width: 60%;
    height: 300px;
    background-color: grey;
}

/* ///////////// */

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
